@import "tailwindcss";

/* Variables globales */
:root {
  --primary-color: #2563eb;
  --secondary-color: #3b82f6;
  --background-color: #f8fafc;
  --card-background: #ffffff;
  --text-primary: #1e293b;
  --text-secondary: #64748b;
  --border-color: #e2e8f0;
}

/* Estilos base */
body {
  background-color: var(--background-color);
  color: var(--text-primary);
  font-family: var(--font-geist-sans);
}
